.containerwrapper {
  display: flex;
  align-items: center;
  /* height: 80vh; */
  padding: 75px 0px;
}

.frogienContainerwrapper{
  
}
.Clientcontainerwrapper {
  display: flex;
  align-items: center;
  /* height: 80vh; */
  /* padding: 75px 0px; */
  background-color: #F7F7F7;
}
.bg1{
   background-color: #F7F7F7;
}

.leftContainerWrapper {
  width: 50%;
}
.rightContainerWrapper {
  width: 50%;
}
.rightImageWrapper {
  /* width: 155px; */
}
.rightImageWrapper img {
  width: 100%;
}

/* heading */
.heading {
  font-weight: 700;
}
.FirstDescription {
  font-size: 18px;
  width: 90%;
  color: rgb(68, 68, 68);
}
.mainCompanyDesWrapper {
  overflow-x: hidden;
}

.companyDesWrapper {
  border-top-left-radius: 5100%;
  border-top-right-radius: 100%;
  height: 60px;
  width: 200%;
  bottom: -2px;
 
  /* overflow-x: hidden; */
  position: relative;
  right: 50px;
  z-index: -1;
  background: #f7f7f7;
}
.textCompanyDescription {
  padding: 40px 7%;
  border-radius: 35px;
  background: #f5eccf;
  /* text-align: center !important; */
}
.bgComapnyDescritpion {
  background: #f7f7f7;
  padding-bottom: 55px;
}

/* about us heading */
.aboutHeading{
 border-bottom: 2px solid orange;   
 display: inline-block;
 text-align: center;
}


/* banner  styles */
.bannerImageWrapper{
  width: 90%;
  text-align: center;
  margin:auto;
}

.bannerImageWrapper img{
width: 100%;
/* border-radius: 42px; */

}

/* our client section */
.clientDivWrapper div{
  width: 90%;
}
.clientDivWrapper div img{
  width: 100%;
}


/* media query */
@media only screen and (max-width: 767px) {
  .heading {
    font-size: 22px;
    text-align: center;
  }
  .FirstDescription {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .leftContainerWrapper {
    width: 100%;
  }
  .rightContainerWrapper {
    width: 50%;

  }
  .textCompanyDescription {
  padding: 30px 6%;
  border-radius: 35px;
  font-size: 14px;
  background-color: rgb(68, 68, 68);
  background: #f5eccf;
  /* text-align: center !important; */
}
  .containerwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  /* height: 80vh; */
  padding: 55px 0px;
}
.aboutHeading{
 font-size: 22px;   
}
.containerwrapper{
    /* margin-top: 20px; */
    padding: 55px 0px;
    /* padding-bottom: 22px; */
}
.clientDivWrapper div{
  width: 155px !important;
  margin: auto;
  margin-bottom: 10px;
}
}
